.navigation {
  margin-left: 100px;
  margin-right: 100px;

  .nav {
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      margin: 10px;

      li {
        color: $color-1;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
          color: $color-3;
        }
      }
    }

    .menu {
      display: flex;
      height: 45px;
    }

    .logo {
      display: flex;
      justify-content: flex-start;
    }
  }
}

.menu .nav-active {
  /* Target the active link using the nav-active class */
  border-bottom: 2px solid black;
  transition: border-bottom 0.5s;
  transition-timing-function: ease-in;
}
