.banner-about-container {
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.banner-about {
    width: 1240px;
    height: 223px;
    border-radius: 25px;
    object-fit: cover;
}